{% extends "Layout.html" %}

{% block content %}

<div style="width:750px;margin-left:auto;margin-right:auto;">
    <div>
        <p>“The doctor of the future will give no medicine, but will instruct his patients in care of the human frame, in diet, and
        in the cause and prevention of disease.” – Thomas Edison</p>
    </div>
    <form action="http://127.0.0.1:5000/addFeedback" method="POST">
        <h2 class="text-center">Send our feedback</h2>
        <div class="form-group row">

            <label for="firstName" class="col-sm-2 col-form-label">your commint</label>
            <div class="col-sm-10">
                
                <textarea class="form-control" name="comment" placeholder="feedback" id="feedback"></textarea>
            </div>
        </div>
        
        <div class="form-group row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary btn-block float-right">Send</button>
            </div>
        </div>
    </form>
    <div>
        <p>“I have chosen to be happy because it is good for my health.” – Voltaire</p>
    </div>
    <div>
        <p>“A sad soul can be just as lethal as a germ.” – John Steinbeck</p>
    </div>
    <div>
        <p>“If you know the art of deep breathing, you have the strength, wisdom and courage of ten tigers.” – Chinese adage</p>
    </div>
    <div>
    <p>“Remain calm, because peace equals power.”- Joyce Meyer</p>
    </div>
    <div>
    <p>“Healthy citizens are the greatest asset any country can have.” – Winston Churchill</p>
    </div>
    <div>
        <p>“A good laugh and a long sleep are the best cures in the doctor’s book.” – Irish proverb</p>
    </div>
</div>


{% endblock%}