{% extends "Layout.html" %}

{% block content %}

<div style="width:900px;margin-left:auto;margin-right:auto;">
    <div class = "info-color fst-italic text-center lh-base" >
        <p>“The doctor of the future will give no medicine, but will instruct his patients in care of the human frame, in diet, and
        in the cause and prevention of disease.” <span class="fs-3 text-decoration-underline"> Thomas Edison</span></p>
    </div>
   
    <form action="http://127.0.0.1:5000/addFeedback" method="POST" style="margin-bottom: 50px;margin-top:70px;" >
        <h2 class="text-center text-uppercase" style="margin-bottom: 30px;margin-top:50px;">Send  your feedback</h2>
        <div class="form-group row">

            <label for="firstName" class="col-sm-2 col-form-label text-uppercase">your comment</label>
            <div class="col-sm-10">
                
                <textarea class="form-control" name="comment" placeholder="feedback" id="feedback"></textarea>
            </div>
        </div>
        
        <div class="form-group row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary btn-block float-right">Send</button>
            </div>
        </div>
    </form>
    <h2 class="text-center text-uppercase" style="margin-bottom: 30px;margin-top:50px;">Users' feedback</h2>
    {% for feedback in feedbacks%}
    <div class = "info-color fst-italic text-center lh-base">
        <p>{{feedback.comment}}</p>
    </div>
    
    {% endfor%}

    
    
</div>


{% endblock%}