{% extends "Layout.html" %}

{% block content %}
<div class="container" style="height:1500px">
  <div class="row" style="height:500px;margin-top:20px">
    <div class="col-sm-6 float-left card-info-style" style="padding:100px 50px 0 0 ;border-radius: 2%;">
        <h1 style="margin: 20px 0;color: #202020;">Our Service</h1>
        <div class="lh-base">
        <p style="color: #3d3d3d; width: 80%;margin: 10px 0;">Our System for lung cancer classification to help docotor determine the type of Lung Cancer </p>
        </div>
        
        <div class="info-color fst-italic text-center lh-base">
          <p style="color: #3d3d3d; width: 100%;margin: 10px 0;">“You can’t control what goes on outside, but you CAN control what goes on inside.” <span class="fs-3 text-decoration-underline"> Unknown </span></p>
        </div>
      
    </div>
    <div class="col-sm-6 float-right">
      <img src="{{ url_for('static',filename='img/Lung-cancer.png') }}" class="img-fluid float-right" alt="Responsive image" style="width:510px;height:450px;border-radius:7%;">
  
    </div>
      </div>
  <div class="row" style="height:500px">
    <div class="col-sm-6 float-left">
      <img src="{{ url_for('static',filename='img/doctor.jpg') }}" class="img-fluid float-left" alt="Responsive image" style="width:500px;height:450px;border-radius:7%;">
    </div>
    <div class="col-sm-6 float-right card-info-style" style="padding:100px 50px 0 0 ;border-radius: 2%;">
        <h1 style="margin: 20px 0;color: #202020;">About Us</h1>
        <div class = "">
          <p style="color: #3d3d3d; width: 80%;margin: 10px 0;" >we are team in FCAIH , we make this system for helping doctors in every way to classify the lung cancer</p>
        </div>
      <div class = "info-color fst-italic text-center lh-base">
        <p style="color: #3d3d3d; width: 90%;margin: 10px 0;">“Keeping your body healthy is an expression of gratitude to the whole cosmos- the trees, the clouds, everything.” <span class="fs-3 text-decoration-underline">
        Thich Nhat Hanh </span></p>
      </div>
      
    </div>
  
    </div>
  <div class="row" style="height:500px;">
         <div class="col-sm-12 " >
      <h1 style="margin: 20px 0;color: #202020;">Easy Steps</h1>
      <div>
          <p style="color: #3d3d3d; width: 40%;margin: 10px 0;">How to use the system ?</p>
        </div>
        <div>
        <ul class="list-group">
            <li class="list-group-item active">login or register</li>
            <li class="list-group-item">click the serves </li>
            <li class="list-group-item">upload the CT Scan</li>
            <li class="list-group-item">show the reslute </li>
            <li class="list-group-item">thank you for using the our system </li>
            
          </ul>
        </div>
        <div class = "info-color fst-italic text-center lh-base">
          <p style="color: #494949; width: 100%;margin: 10px 0;">“Health is a state of complete mental, social and physical well-being, not merely the absence of disease or infirmity.”
              <span class="fs-3 text-decoration-underline"> World Health Organization, 1948 </span></p>
        </div>
        <div class="info-color fst-italic text-center lh-base">
          <p style="color: #3d3d3d; width: 100%;margin: 10px 0;">“Divide each difficulty into as many parts as is feasible and
            necessary to resolve it, and watch the whole transform.” –
            Rene Descartes “Every negative belief weakens the partnership between mind and body.” <span
              class="fs-3 text-decoration-underline"> Deepak Chopra</span></p>
        </div>
        <div class = "info-color fst-italic text-center lh-base" style="margin-bottom: 50px;">
          <p style="color: #3d3d3d; width: 100%;margin: 10px 0;">Good health is not something we can buy. However, it can be an extremely valuable savings account.”<span class="fs-3 text-decoration-underline">Anne Wilson Schaef </span></p>
        </div>
      
    </div>
   </div>
</div>

{% endblock%}