{% extends "Layout.html" %}

{% block content %}

<div style="width:900px;margin-left:auto;margin-right:auto;">
    <div class="info-color fst-italic text-center lh-base">
        <p>“If you know the art of deep breathing, you have the strength, wisdom and courage of ten tigers.” <span
                class="fs-3 text-decoration-underline"> Chinese adage </span></p>
    </div>
    <div class="info-color fst-italic text-center lh-base">
        <p>“Remain calm, because peace equals power.”<span class="fs-3 text-decoration-underline"> Joyce Meyer </span></p>
    </div>
    <form action="http://127.0.0.1:5000/uploader" method="POST" enctype = "multipart/form-data" style="margin-top:50px ;margin-bottom:30px">
        <h2 class="text-center text-uppercase" style="margin-top:20px ;margin-bottom:40px">Upload CT Scan</h2>
        <div class="form-group row ">
            <label class="col-md-3 control-label text-uppercase " for="file">Chose File of type dcm</label>
            <div class="col-md-4 btn btn-secondary btn-lg">
                <input id="file" name="file" class="input-file" type="file" class="btn btn-secondary">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary btn-block float-right">Send</button>
            </div>
        </div>
    </form>
    
    
    
</div>

<div class="container" style="width:900px;margin-left:auto;margin-right:auto;min-height:500px;margin-top: 50px; margin-bottom:30px ">
    <div class="row text-center">
        <h3 class="col-sm-12 text-uppercase" style="border: 1px solid rgb(175, 175, 175);padding:10px ; border-radius:7px">Result </h3>
        

    </div>
    <div class="row" style="min-height:300px;">
        
        {% if result == 0  %}
            <div class="col-sm-12" style="color: rgba(41, 41, 43, 0.87); font-size:25px;"> Adenocarcinoma</div>
        {% elif result == 1 %}
            <div class="col-sm-12" style="color: rgba(41, 41, 43, 0.87); font-size:25px;"> Small Cell Carcinoma</div>
        {% elif result == 2 %}
            <div class="col-sm-12" style="color: rgba(41, 41, 43, 0.87); font-size:25px;"> Large Cell Carcinoma </div>
        {% elif result == 3 %}
            <div class="col-sm-12" style="color: rgba(41, 41, 43, 0.87); font-size:25px;"> Squamous Cell Carcinoma </div>
        {% else %}
            <div class="col-sm-12" style="color: rgba(201, 15, 15, 0.87); font-size:30px">you dont have result or the result not  compatible </div>
        {% endif %}
        {{ result }}
    </div>
    <div class="info-color fst-italic text-center lh-base">
        <p>“Healthy citizens are the greatest asset any country can have.” <span class="fs-3 text-decoration-underline">
                Winston Churchill </span></p>
    </div>
</div>



{% endblock%}
<!-- File Button -->


