{% extends "Layout.html" %}

{% block content %}

<div class="container" style="margin-bottom: 100px;">
  <div class="row">
    <div class="col-md-10 ">
      <form class="form-horizontal" action="http://127.0.0.1:5000/viewProfile" method="POST">
      <fieldset>  
            <!-- Form Name -->
            <legend>User profile form requirement</legend>
            <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="firstName">FirstName</label>  
              <div class="col-md-4">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-user"></i>
                    </div>
                      <input id="firstName" name="firstName" type="text" placeholder="first name" class="form-control input-md" value="{{profile.first_name}}">
                  </div>
              </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="lastname">Last name </label>  
            <div class="col-md-4">
              <div class="input-group">
                  <div class="input-group-addon">
                        <i class="fa fa-male" style="font-size: 20px;"></i>
                  </div>
                  <input id="lastname" name="lastname" type="text" placeholder="lastname" class="form-control input-md" value="{{profile.last_name}}">
              </div>
            </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="userName">user Name</label>  
            <div class="col-md-4">
              <div class="input-group">
                  <div class="input-group-addon">
                                              <i class="fa fa-male" style="font-size: 20px;"></i>

                    
                  </div>
                  <input id="userName" name="username" type="text" placeholder="user Name" class="form-control input-md" value="{{profile.username}}">
              </div>
              
            </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="email">Email Address</label>  
            <div class="col-md-4">
            <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-envelope-o"></i> 
                </div>
                <input id="email" name="email" type="text" placeholder="email " class="form-control input-md" value="{{profile.email}}">
              
            </div>
            
            </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="Password">Password</label>
            <div class="col-md-4">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-key" style="font-size: 20px;"></i>
                  
                </div>
                <input id="password" name="password" type="password" placeholder="Password" class="form-control input-md" >
              </div>
            </div>
          </div>
          <div class="form-group">
              <label class="col-md-4 control-label" ></label>  
              <div class="col-md-4">
                <button type="submit" class="btn btn-success">
                  <span class="glyphicon glyphicon-thumbs-up"></span> Submit
                </button>
              
              </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>

{% endblock%}